In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('learningSet.csv')

In [3]:
data.isna().any()[lambda x: x]

AGE         True
NUMCHLD     True
INCOME      True
WEALTH1     True
MBCRAFT     True
            ...
RAMNT_24    True
NEXTDATE    True
TIMELAG     True
CLUSTER2    True
GEOCODE2    True
Length: 92, dtype: bool

In [4]:
data.shape

(95412, 481)

In [5]:
data.describe()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

In [6]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(80)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
...              ...
ADATE_16   21.343227
ADATE_14   19.774242
ADATE_9    11.785729
ADATE_11   10.923154
NEXTDATE   10.452564

[80 rows x 1 columns]

In [7]:
to_drop = ['GEOCODE2','WEALTH1','ADI','DMA','MSA']
data.drop(to_drop, inplace=True, axis=1)

In [8]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_B,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0,0.0,0,L,4,E,X,X,X,39.0
1,9401,BOA,1,CA,91326,,,5202,0,,...,0,0.0,0,L,2,G,X,X,X,1.0
2,9001,AMH,1,NC,27017,,,0,0,,...,0,0.0,1,L,4,E,X,X,X,60.0
3,8701,BRY,0,CA,95953,,,2801,0,,...,0,0.0,1,L,4,E,X,X,X,41.0
4,8601,,0,FL,33176,,,2001,0,X,...,0,0.0,1,L,2,F,X,X,X,26.0

In [9]:
cols_to_keep = list(nulls[nulls['percentage'] < 10].index)
cols_to_keep

['ODATEDW',
 'OSOURCE',
 'TCODE',
 'STATE',
 'ZIP',
 'MAILCODE',
 'PVASTATE',
 'DOB',
 'NOEXCH',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'MDMAUD',
 'DOMAIN',
 'CLUSTER',
 'AGEFLAG',
 'HOMEOWNR',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'GENDER',
 'HIT',
 'DATASRCE',
 'MALEMILI',
 'MALEVET',
 'VIETVETS',
 'WWIIVETS',
 'LOCALGOV',
 'STATEGOV',
 'FEDGOV',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'GEOCODE',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'POP901',
 'POP902',
 'POP903',
 'POP90C1',
 'POP90C2',
 'POP90C3',
 'POP90C4',
 'POP90C5',
 'ETH1',
 'ETH2',
 'ETH3',
 'ETH4',
 'ETH5',
 'ETH6',
 'ETH7',
 'ETH8',
 'ETH9',
 'ETH10',
 'ETH11',
 'ETH12',
 'ETH13',
 'ETH14',
 'ETH15',
 'ETH16',
 'AGE901',
 'AGE902',
 'AGE903',
 'AGE904',
 'AGE905',
 'AGE906',
 'AGE907',
 'CHIL1',
 'CHIL2',
 'CHIL3',
 'AGEC1',
 'AGEC2',
 'AGEC3',
 'AGEC4',
 'AGEC5',
 'AGEC6',
 'AGEC7',
 'CHILC1',
 'CHILC2',
 'CHILC3',
 'CHILC4',
 'CHILC5',
 'HHAGE1',
 'HHAGE2',
 'HHAGE3',
 'HHN1',
 'HHN2',
 'HHN3',
 'HHN4',
 'HHN5',
 'HHN6',
 'MARR1',
 'MARR2',
 'MARR3',
 'MARR4',
 'HHP1',
 'HHP2',
 'DW1',
 'DW2',
 'DW3',
 'DW4',
 'DW5',
 'DW6',
 'DW7',
 'DW8',
 'DW9',
 'HV1',
 'HV2',
 'HV3',
 'HV4',
 'HU1',
 'HU2',
 'HU3',
 'HU4',
 'HU5',
 'HHD1',
 'HHD2',
 'HHD3',
 'HHD4',
 'HHD5',
 'HHD6',
 'HHD7',
 'HHD8',
 'HHD9',
 'HHD10',
 'HHD11',
 'HHD12',
 'ETHC1',
 'ETHC2',
 'ETHC3',
 'ETHC4',
 'ETHC5',
 'ETHC6',
 'HVP1',
 'HVP2',
 'HVP3',
 'HVP4',
 'HVP5',
 'HVP6',
 'HUR1',
 'HUR2',
 'RHP1',
 'RHP2',
 'RHP3',
 'RHP4',
 'HUPA1',
 'HUPA2',
 'HUPA3',
 'HUPA4',
 'HUPA5',
 'HUPA6',
 'HUPA7',
 'RP1',
 'RP2',
 'RP3',
 'RP4',
 'MSA',
 'ADI',
 'DMA',
 'IC1',
 'IC2',
 'IC3',
 'IC4',
 'IC5',
 'IC6',
 'IC7',
 'IC8',
 'IC9',
 'IC10',
 'IC11',
 'IC12',
 'IC13',
 'IC14',
 'IC15',
 'IC16',
 'IC17',
 'IC18',
 'IC19',
 'IC20',
 'IC21',
 'IC22',
 'IC23',
 'HHAS1',
 'HHAS2',
 'HHAS3',
 'HHAS4',
 'MC1',
 'MC2',
 'MC3',
 'TPE1',
 'TPE2',
 'TPE3',
 'TPE4',
 'TPE5',
 'TPE6',
 'TPE7',
 'TPE8',
 'TPE9',
 'PEC1',
 'PEC2',
 'TPE10',
 'TPE11',
 'TPE12',
 'TPE13',
 'LFC1',
 'LFC2',
 'LFC3',
 'LFC4',
 'LFC5',
 'LFC6',
 'LFC7',
 'LFC8',
 'LFC9',
 'LFC10',
 'OCC1',
 'OCC2',
 'OCC3',
 'OCC4',
 'OCC5',
 'OCC6',
 'OCC7',
 'OCC8',
 'OCC9',
 'OCC10',
 'OCC11',
 'OCC12',
 'OCC13',
 'EIC1',
 'EIC2',
 'EIC3',
 'EIC4',
 'EIC5',
 'EIC6',
 'EIC7',
 'EIC8',
 'EIC9',
 'EIC10',
 'EIC11',
 'EIC12',
 'EIC13',
 'EIC14',
 'EIC15',
 'EIC16',
 'OEDC1',
 'OEDC2',
 'OEDC3',
 'OEDC4',
 'OEDC5',
 'OEDC6',
 'OEDC7',
 'EC1',
 'EC2',
 'EC3',
 'EC4',
 'EC5',
 'EC6',
 'EC7',
 'EC8',
 'SEC1',
 'SEC2',
 'SEC3',
 'SEC4',
 'SEC5',
 'AFC1',
 'AFC2',
 'AFC3',
 'AFC4',
 'AFC5',
 'AFC6',
 'VC1',
 'VC2',
 'VC3',
 'VC4',
 'ANC1',
 'ANC2',
 'ANC3',
 'ANC4',
 'ANC5',
 'ANC6',
 'ANC7',
 'ANC8',
 'ANC9',
 'ANC10',
 'ANC11',
 'ANC12',
 'ANC13',
 'ANC14',
 'ANC15',
 'POBC1',
 'POBC2',
 'LSC1',
 'LSC2',
 'LSC3',
 'LSC4',
 'VOC1',
 'VOC2',
 'VOC3',
 'HC1',
 'HC2',
 'HC3',
 'HC4',
 'HC5',
 'HC6',
 'HC7',
 'HC8',
 'HC9',
 'HC10',
 'HC11',
 'HC12',
 'HC13',
 'HC14',
 'HC15',
 'HC16',
 'HC17',
 'HC18',
 'HC19',
 'HC20',
 'HC21',
 'MHUC1',
 'MHUC2',
 'AC1',
 'AC2',
 'ADATE_2',
 'ADATE_3',
 'ADATE_4',
 'ADATE_6',
 'ADATE_7',
 'ADATE_8',
 'ADATE_12',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24',
 'CARDPROM',
 'MAXADATE',
 'NUMPROM',
 'CARDPM12',
 'NUMPRM12',
 'RAMNTALL',
 'NGIFTALL',
 'CARDGIFT',
 'MINRAMNT',
 'MINRDATE',
 'MAXRAMNT',
 'MAXRDATE',
 'LASTGIFT',
 'LASTDATE',
 'FISTDATE',
 'AVGGIFT',
 'CONTROLN',
 'TARGET_B',
 'TARGET_D',
 'HPHONE_D',
 'RFA_2R',
 'RFA_2F',
 'RFA_2A',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'CLUSTER2',
 'GEOCODE2']

In [12]:
cols_to_remove = [col for col in data.columns if 'ADATE_' in col and col in cols_to_keep]
cols_to_remove

['ADATE_2', 'ADATE_3', 'ADATE_4', 'ADATE_6', 'ADATE_7', 'ADATE_8', 'ADATE_12']

In [13]:
[cols_to_keep.remove(col) for col in cols_to_remove]

cols_to_keep = list(set(cols_to_keep))
sorted(cols_to_keep)

['AC1',
 'AC2',
 'ADI',
 'AFC1',
 'AFC2',
 'AFC3',
 'AFC4',
 'AFC5',
 'AFC6',
 'AGE901',
 'AGE902',
 'AGE903',
 'AGE904',
 'AGE905',
 'AGE906',
 'AGE907',
 'AGEC1',
 'AGEC2',
 'AGEC3',
 'AGEC4',
 'AGEC5',
 'AGEC6',
 'AGEC7',
 'AGEFLAG',
 'ANC1',
 'ANC10',
 'ANC11',
 'ANC12',
 'ANC13',
 'ANC14',
 'ANC15',
 'ANC2',
 'ANC3',
 'ANC4',
 'ANC5',
 'ANC6',
 'ANC7',
 'ANC8',
 'ANC9',
 'AVGGIFT',
 'BIBLE',
 'BOATS',
 'CARDGIFT',
 'CARDPM12',
 'CARDPROM',
 'CARDS',
 'CATLG',
 'CDPLAY',
 'CHIL1',
 'CHIL2',
 'CHIL3',
 'CHILC1',
 'CHILC2',
 'CHILC3',
 'CHILC4',
 'CHILC5',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'CLUSTER',
 'CLUSTER2',
 'COLLECT1',
 'CONTROLN',
 'CRAFTS',
 'DATASRCE',
 'DMA',
 'DOB',
 'DOMAIN',
 'DW1',
 'DW2',
 'DW3',
 'DW4',
 'DW5',
 'DW6',
 'DW7',
 'DW8',
 'DW9',
 'EC1',
 'EC2',
 'EC3',
 'EC4',
 'EC5',
 'EC6',
 'EC7',
 'EC8',
 'EIC1',
 'EIC10',
 'EIC11',
 'EIC12',
 'EIC13',
 'EIC14',
 'EIC15',
 'EIC16',
 'EIC2',
 'EIC3',
 'EIC4',
 'EIC5',
 'EIC6',
 'EIC7',
 'EIC8',
 'EIC9',
 'ETH1',
 'ETH10',
 'ETH11',
 'ETH12',
 'ETH13',
 'ETH14',
 'ETH15',
 'ETH16',
 'ETH2',
 'ETH3',
 'ETH4',
 'ETH5',
 'ETH6',
 'ETH7',
 'ETH8',
 'ETH9',
 'ETHC1',
 'ETHC2',
 'ETHC3',
 'ETHC4',
 'ETHC5',
 'ETHC6',
 'FEDGOV',
 'FISHER',
 'FISTDATE',
 'GARDENIN',
 'GENDER',
 'GEOCODE',
 'GEOCODE2',
 'HC1',
 'HC10',
 'HC11',
 'HC12',
 'HC13',
 'HC14',
 'HC15',
 'HC16',
 'HC17',
 'HC18',
 'HC19',
 'HC2',
 'HC20',
 'HC21',
 'HC3',
 'HC4',
 'HC5',
 'HC6',
 'HC7',
 'HC8',
 'HC9',
 'HHAGE1',
 'HHAGE2',
 'HHAGE3',
 'HHAS1',
 'HHAS2',
 'HHAS3',
 'HHAS4',
 'HHD1',
 'HHD10',
 'HHD11',
 'HHD12',
 'HHD2',
 'HHD3',
 'HHD4',
 'HHD5',
 'HHD6',
 'HHD7',
 'HHD8',
 'HHD9',
 'HHN1',
 'HHN2',
 'HHN3',
 'HHN4',
 'HHN5',
 'HHN6',
 'HHP1',
 'HHP2',
 'HIT',
 'HOMEE',
 'HOMEOWNR',
 'HPHONE_D',
 'HU1',
 'HU2',
 'HU3',
 'HU4',
 'HU5',
 'HUPA1',
 'HUPA2',
 'HUPA3',
 'HUPA4',
 'HUPA5',
 'HUPA6',
 'HUPA7',
 'HUR1',
 'HUR2',
 'HV1',
 'HV2',
 'HV3',
 'HV4',
 'HVP1',
 'HVP2',
 'HVP3',
 'HVP4',
 'HVP5',
 'HVP6',
 'IC1',
 'IC10',
 'IC11',
 'IC12',
 'IC13',
 'IC14',
 'IC15',
 'IC16',
 'IC17',
 'IC18',
 'IC19',
 'IC2',
 'IC20',
 'IC21',
 'IC22',
 'IC23',
 'IC3',
 'IC4',
 'IC5',
 'IC6',
 'IC7',
 'IC8',
 'IC9',
 'KIDSTUFF',
 'LASTDATE',
 'LASTGIFT',
 'LFC1',
 'LFC10',
 'LFC2',
 'LFC3',
 'LFC4',
 'LFC5',
 'LFC6',
 'LFC7',
 'LFC8',
 'LFC9',
 'LIFESRC',
 'LOCALGOV',
 'LSC1',
 'LSC2',
 'LSC3',
 'LSC4',
 'MAILCODE',
 'MAJOR',
 'MALEMILI',
 'MALEVET',
 'MARR1',
 'MARR2',
 'MARR3',
 'MARR4',
 'MAXADATE',
 'MAXRAMNT',
 'MAXRDATE',
 'MC1',
 'MC2',
 'MC3',
 'MDMAUD',
 'MDMAUD_A',
 'MDMAUD_F',
 'MDMAUD_R',
 'MHUC1',
 'MHUC2',
 'MINRAMNT',
 'MINRDATE',
 'MSA',
 'NGIFTALL',
 'NOEXCH',
 'NUMPRM12',
 'NUMPROM',
 'OCC1',
 'OCC10',
 'OCC11',
 'OCC12',
 'OCC13',
 'OCC2',
 'OCC3',
 'OCC4',
 'OCC5',
 'OCC6',
 'OCC7',
 'OCC8',
 'OCC9',
 'ODATEDW',
 'OEDC1',
 'OEDC2',
 'OEDC3',
 'OEDC4',
 'OEDC5',
 'OEDC6',
 'OEDC7',
 'OSOURCE',
 'PCOWNERS',
 'PEC1',
 'PEC2',
 'PEPSTRFL',
 'PETS',
 'PHOTO',
 'PLATES',
 'POBC1',
 'POBC2',
 'POP901',
 'POP902',
 'POP903',
 'POP90C1',
 'POP90C2',
 'POP90C3',
 'POP90C4',
 'POP90C5',
 'PVASTATE',
 'RAMNTALL',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_2',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24',
 'RFA_2A',
 'RFA_2F',
 'RFA_2R',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RHP1',
 'RHP2',
 'RHP3',
 'RHP4',
 'RP1',
 'RP2',
 'RP3',
 'RP4',
 'SEC1',
 'SEC2',
 'SEC3',
 'SEC4',
 'SEC5',
 'SOLIH',
 'SOLP3',
 'STATE',
 'STATEGOV',
 'STEREO',
 'TARGET_B',
 'TARGET_D',
 'TCODE',
 'TPE1',
 'TPE10',
 'TPE11',
 'TPE12',
 'TPE13',
 'TPE2',
 'TPE3',
 'TPE4',
 'TPE5',
 'TPE6',
 'TPE7',
 'TPE8',
 'TPE9',
 'VC1',
 'VC2',
 'VC3',
 'VC4',
 'VETERANS',
 'VIETVETS',
 'VOC1',
 'VOC2',
 'VOC3',
 'WALKER',
 'WWIIVETS',
 'ZIP']

In [17]:
dfcat = data.select_dtypes(object)
dfnum = data.select_dtypes(np.number)

In [22]:
X = data.drop(columns=cols_to_remove)
y = data['TARGET_D']

X = pd.get_dummies(X)
X

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,HIT,MBCRAFT,MBGARDEN,MBBOOKS,...,MDMAUD_R_X,MDMAUD_F_1,MDMAUD_F_2,MDMAUD_F_5,MDMAUD_F_X,MDMAUD_A_C,MDMAUD_A_L,MDMAUD_A_M,MDMAUD_A_T,MDMAUD_A_X
0,8901,0,3712,60.0,NaN,NaN,0,NaN,NaN,NaN,...,1,0,0,0,1,0,0,0,0,1
1,9401,1,5202,46.0,1.0,6.0,16,0.0,0.0,3.0,...,1,0,0,0,1,0,0,0,0,1
2,9001,1,0,NaN,NaN,3.0,2,0.0,0.0,1.0,...,1,0,0,0,1,0,0,0,0,1
3,8701,0,2801,70.0,NaN,1.0,2,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,1
4,8601,0,2001,78.0,1.0,3.0,60,1.0,0.0,9.0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,1,0,0,0,1,0,0,0,0,1
95408,9601,1,5001,48.0,1.0,7.0,1,0.0,0.0,1.0,...,1,0,0,0,1,0,0,0,0,1
95409,9501,1,3801,60.0,NaN,NaN,0,NaN,NaN,NaN,...,1,0,0,0,1,0,0,0,0,1
95410,8601,0,4005,58.0,NaN,7.0,0,NaN,NaN,NaN,...,1,0,0,0,1,0,0,0,0,1
95411,8801,2,1801,80.0,NaN,5.0,3,0.0,0.0,0.0,...,0,1,0,0,0,1,0,0,0,0

In [23]:
X.corrwith(y).dropna().sort_values(ascending=False)

TARGET_D       1.000000
TARGET_B       0.774232
RAMNT_4        0.268811
RAMNT_21       0.099339
RAMNT_9        0.090168
                 ...
MDMAUD_XXXX   -0.042896
MDMAUD_R_X    -0.042896
RDATE_3       -0.125194
RDATE_5       -0.220455
RAMNT_5       -0.272147
Length: 23612, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)